/*************************************************************************************************/
/* HERO */
/*************************************************************************************************/

/* 1050 - 1170 */
@media screen and (min-width: 1050px) and (max-width: 1170px) {
    #hero a.cover {
        background-position: right 30% top 68%;
        background-size: 139%;
    }
}

/* 1000 - 1050 */
@media screen and (min-width: 1000px) and (max-width: 1050px) {
    #hero a.cover {
        background-position: right 44% top 93%;
        background-size: 146%;
    }
}

/* <1000 */
@media screen and (max-width: 1000px) {
    #hero .wrapper {
        flex-direction: column;
    }

    #hero .text .text-wrapper {
        max-width: none;
    }

    #hero * {
        text-align: center;
    }

    #hero .wrapper {
        padding: 0;
    }

    #hero h1 {
        white-space: normal;
    }

    #hero h2 {
        text-align: center;
    }

    #hero .text .text-wrapper {
        padding: 0 8% 20px 8%;
    }

    #hero a.cover {
        flex: 1;
        background-size: contain;
        background-position-x: center;
        background-position: top;
        position: relative;
        top: -30px;
        margin-bottom: -50px;
    }

    #hero h3 {
        margin: 20px auto;
    }
}

/* <650 */
@media screen and (max-width: 650px) {
    #hero .buttons a {
        display: block;
        margin-right: 0;
    }

    #hero a.cover {
        background-size: cover;
        min-height: 620px;
        top: -40px;
    }
}



/*************************************************************************************************/
/* KEY POINTS */
/*************************************************************************************************/

/* <1000 */
@media screen and (max-width: 1000px) {

    #key-points .title {
        margin-bottom: 20px;
    }

    #key-points .cols {
        flex-direction: column;
    }

    #key-points .col {
        flex: 1;
        margin: 20px 15%;
    }

}

/* <650 */
@media screen and (max-width: 650px) {
    #key-points .col {
        flex: 1;
        margin: 20px 5%;
    }
}



/*************************************************************************************************/
/* EDITORS */
/*************************************************************************************************/

/* <650 */
@media screen and (max-width: 650px) {

    #editors .quote-wrapper {
        background-size: 10%, 10%;
    }

}


/*************************************************************************************************/
/* AUTHORS */
/*************************************************************************************************/

/* <1000 */
@media screen and (max-width: 1000px) {

    #authors img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #authors ul {
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #authors ul li {
        line-height: 1.5em;
    }

}

/* <650 */
@media screen and (max-width: 650px) {
    #authors .cols {
        flex-direction: column;
    }

    #authors ul.medicine,
    #authors ul.science,
    #authors ul.law {
        /* padding-left: 5%; */
        /* margin-left: 5%; */
        margin-left: auto;
        margin-right: auto;
        max-width: 190px;
    }

    #authors .cols .col img {
        margin-top: 60px;
    }
}



/*************************************************************************************************/
/* NUMBERS */
/*************************************************************************************************/

/* <1000 */
@media screen and (max-width: 1000px) {
    #numbers .col figure {
        width: 50%;
        background-size: contain;
    }

    #numbers .col .number {
        font-size: 60pt;
        /* margin-top: 5%; */
    }
}



/* <650 */
@media screen and (max-width: 650px) {

    #numbers .col figure {
        width: 130px;
    }

    #numbers .wrapper {
        flex-direction: column;
    }

    #numbers .col2,
    #numbers .col3 {
        margin-top: 80px;
    }

}



/*************************************************************************************************/
/* TOPIC */
/*************************************************************************************************/

/* <1000 */
@media screen and (max-width: 1000px) {

    #topic .wrapper {
        /* max-width: 100%; */
        background-size: 50%;
        background-position: left 13% top 100px;
    }
}



/* <650 */
@media screen and (max-width: 650px) {

    #topic .cols {
        flex-direction: column;
    }

    #topic .cols figure {
        min-height: 90vw;
    }

    #topic .cols .text-wrapper {
        max-width: max-content;
    }

    #topic .wrapper {
        background-size: 96%;
        background-position: left 228% top 18vw;
    }

}

/* <550 */
@media screen and (max-width: 550px) {
    #topic .wrapper {
        background-position: left 228% top 19vw;
    }
}

/* <450 */
@media screen and (max-width: 450px) {
    #topic .wrapper {
        background-position: left 228% top 25vw;
    }
}


/* <350 */
@media screen and (max-width: 350px) {
    #topic .wrapper {
        background-position: left 228% top 32vw;
    }
}




/*************************************************************************************************/
/* INFO */
/*************************************************************************************************/

/* <650 */
@media screen and (max-width: 650px) {
    #info .buttons {
        padding: 0 8%;
    }

    #info .buttons .button {
        margin: 10px 0%;
    }

    #info .buttons a {
        display: block;
    }
}


/* <350 */
@media screen and (max-width: 350px) {
    #info .buttons .button {
        white-space: normal;
    }
}




/*************************************************************************************************/
/* FURTHER */
/*************************************************************************************************/




/*************************************************************************************************/
/* MESSAGE */
/*************************************************************************************************/




/*************************************************************************************************/
/* MAIL */
/*************************************************************************************************/




/*************************************************************************************************/
/* FOOTER */
/*************************************************************************************************/
